* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html,
body {
  height: 100%;
}
a,
button,
textarea,
input {
  outline: none;
}
/*justo eso decia : P*/
html body div {
  display: inline-block;
  width: 49%;
  height: 100vh;
  padding: 20px;
}
html body div:first-of-type {
  background: #5882FA;
}
html body textarea {
  width: 100%;
  height: 100vh;
  padding: 20px;
}
/*
	puedes poner la pantalla en split para ver si veo los 2 archivos trambien?

  lo ves?
  no, solo veo uno por vez :v
*/
