* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
html,
body {
  height: 100%;
}
a,
button,
textarea,
input {
  outline: none;
}
html body {
  font-size: 0;
}
html body div {
  font-size: 12px;
  display: inline-block;
  width: 400px;
  height: 100vh;
  padding: 20px;
  vertical-align: top;
}
html body div:first-of-type {
  width: calc(100% - 400px);
  overflow: auto;
  background: #5882FA;
}
html body div:first-of-type::-webkit-scrollbar {
  width: 5px;
  background: white;
}
html body div:first-of-type::-webkit-scrollbar-thumb {
  background: black;
}
html body div:first-of-type textarea {
  font-family: 'EB Garamond';
  font-size: 25px;
  width: 100%;
  height: 1000px;
  padding: 40px;
  box-shadow: 0 10px 76px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  resize: none;
}
