// out: index.css

@import "conf.less";

html{
	body{
		font-size: 0;
		div{
			font-size: 12px;
			display: inline-block;
			width: @asideSize;
			height: 100vh;
			padding: 20px;
			vertical-align: top;
			&:first-of-type{
				width: calc(100% ~"-" @asideSize);
				overflow: auto;
				background: @bg;
				&::-webkit-scrollbar { width: 5px; background: white; }
				&::-webkit-scrollbar-thumb { background: black; }
				textarea{
					font-family: 'Libre Baskerville';
					font-size: 22px;
					width: 100%;
					height: 1000px;
					padding: 40px;
					box-shadow: 0 10px 76px rgba(0,0,0,0.3);
					border-radius: 4px;
					resize: none;
				}
			}
		}
	}
}
